apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: prod
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels: { app: config-server }
  template:
    metadata:
      labels: { app: config-server }
    spec:
      containers:
        - name: config-server
          image: nohyunha95/config-server:0.0.5
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8888

          envFrom:
            - secretRef:
                name: config-server-secrets

          readinessProbe:
            httpGet: { path: /actuator/health/readiness, port: 8888 }
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet: { path: /actuator/health/liveness, port: 8888 }
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: prod
spec:
  selector: { app: config-server }
  ports:
    - port: 8888
      targetPort: 8888
  type: ClusterIP
